@import "tailwindcss";


body {
  margin: 0;
  background-color: #020617; /* Slate 950 */
  color: #ffffff;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Socket will blink */
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: .5; }
}